.cadastro {
    width: 100%;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .cadastro .input {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  
  
  .cadastro .input input {
    width: 100%;
    height: 1rem;
    padding: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
  
  
  
  
  .main2 {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
  }
  
  
  
  .main2 .separator {
    height: 100%;
    width: 1px;
    background-color: #ccc;
  }
  
  
  
  .main2 .criar,
  .main2 .gerenciar {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  
  
  .cadastro .submit {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    align-items: center; /* Centraliza os filhos de .submit ao longo do eixo transversal */
  }
  
  
  
   .button-cadastro {
    margin-top:15%;
    font-size: 25px;
    width: 30%;
    height: 3rem;
    border-radius: 5px;
    background:#007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: #0056b3;
    }
  }

  .buttons-inv {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 13%;
    margin-left: 0%;
    
  

  }

  .preco{
    margin-left: 4%;
  }

  .user{
    width: 50px;
    height: 40px;
    margin-left: 10%;
   
  }
  
  .lixeira{
   
    color:black;
    transition: calc(0.3s);
    &:hover{
      color: #800000;
      cursor:pointer;
    }
 
  }

  .edit{
    transition: calc(0.3s);
    color:black;
    &:hover{
      color: #007bff ;
      cursor:pointer;
    }
  }

  .confBaixa{
    margin-left: -160.4%;
    width: 90%;
    cursor: pointer;
  }

  .reductions{
    margin-left: 62%;
    margin-top: -68.1%;
    bottom: 70%;
  }
  

  .lixoBaixa{
    margin-right: 5%;
 
    &:hover{
      transition: calc(0.5s);
      color: #800000;
      cursor:pointer;
    }
  
  }


  .reductionsad{
    margin-left: 10%;
  }


  .closeModalinv{
    margin-top:13%;
      font-size: 18px;
      margin-left:38%;
      width: 20%;
      height: 2rem;
      border-radius: 5px;
      background:#007bff;
      color: #fff;
      border: none;
      cursor: pointer;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      &:hover {
        background-color: #0056b3;
      }
  }

  .ajuste-qntd{
    margin-left: -67%;
  }

  .att-qntd{
    width: 60%;
    margin-left: 6%;
    cursor: pointer;
  }

  .filters button{
    cursor: pointer;
     width: 10%;
     height: 1.5rem;
    background:#007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: #0056b3;
    }
  }


  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.divider-horizontal {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin: 10px 0;
}

.divider-vertical{
  margin-top: -59%;
  width: 1px;
  margin-left: 47%;
  height: 350px;
  background-color: #ccc;
  
}




.total{
  margin-top: 25%;
  margin-left: -74%;
margin-bottom: -34%;
}

.baixas-list{
  margin-left: -20%;
  min-height: 75px; /* Mantém o espaço sempre visível mesmo sem itens */
  height: 273px; /* Limita a altura da lista para não empurrar o preço total */
  overflow-y: auto; /* Garante que o scroll sempre apareça */
  border: 1px solid #ccc; /* Opcional: Adiciona um contorno para melhor visualização */
  padding: 5px;
  width: 240px;
  background-color: white;
}