
  

   
    .buttons-2 {
  
      margin-top: 6%;
      margin-left: 15%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    
    
      cursor: pointer;
      color: black;
      transition: 0.4s;
    
      &:hover {
        transform: scale(1.02);
        color: #303b92;
      }
    
    }
    
    
    .content-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -24%;
      margin-bottom: 50px;
      height: 20%;
      margin-left: 10%;
    }
    
    
    
    
    .content-1 .cadastro-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
      max-height: 0;
      min-height: 53rem;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 10px #000;
      overflow-y: auto;
    }
    
  .reservation-item{
    margin-top: 2%;
    color: #111;
    width: 85%;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 0px 5px;
    transition: 0.4s;
    margin-left: 7%;
    &:hover{
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      transform: scale(1.01);
     
    }
  }
    
  .reservation-list{
    margin-top: 5%;
  min-height: 80%; 
  height: 273px; 
  overflow-y: auto; 
  padding: 5px;
  width: 94%;
  background-color: white;
    
  }

 
  @media  (max-width: 1920px) and (max-height: 1080px) {
  
  

   
    .buttons-2 {
    
      margin-top: 6%;
      margin-left: 15%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    
    
      cursor: pointer;
      color: black;
      transition: 0.4s;
    
      &:hover {
        transform: scale(1.02);
        color: #303b92;
      }
    
    }
    
    
    .content-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -24%;
      margin-bottom: 50px;
      height: 20%;
      margin-left: 10%;
    }
    
    
    
    
    .content-1 .cadastro-1-relatory {
      margin-top: -2%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 83%;
      max-height: 0;
      min-height: 55rem;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 10px #000;
     
    }
    
  .reservation-item{
    margin-top: 2%;
    color: #111;
    width: 85%;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 0px 5px;
    transition: 0.4s;
    margin-left: 7%;
    &:hover{
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      transform: scale(1.01);
     
    }
  }
    
  .reservation-list{
    margin-top: 5%;
  min-height: 70%; 
  height: 273px; 
  overflow-y: auto; 
  padding: 5px;
  width: 94%;
  background-color: white;
    
  }
    
  
   
    }
    


   
  @media  (max-width: 1680px) and (max-height: 1050px) {
  
  

   
    .buttons-2 {
    
      margin-top: 6%;
      margin-left: 15%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    
    
      cursor: pointer;
      color: black;
      transition: 0.4s;
    
      &:hover {
        transform: scale(1.02);
        color: #303b92;
      }
    
    }
    
    
    .content-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -24%;
      margin-bottom: 50px;
      height: 20%;
      margin-left: 10%;
    }
    
    
    
    
    .content-1 .cadastro-1-relatory {
      margin-top: -10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 83%;
      max-height: 0;
      min-height: 50rem;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 10px #000;
     
    }
    
  .reservation-item{
    margin-top: 2%;
    color: #111;
    width: 85%;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 0px 5px;
    transition: 0.4s;
    margin-left: 7%;
    &:hover{
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      transform: scale(1.01);
     
    }
  }
    
  .reservation-list{
    margin-top: 5%;
  min-height: 70%; 
  height: 273px; 
  overflow-y: auto; 
  padding: 5px;
  width: 94%;
  background-color: white;
    
  }
    
  
   
    }
    



   
  @media  (max-width: 1600px) and (max-height: 1024px) {
  
  

   
    .buttons-2 {
    
      margin-top: 6%;
      margin-left: 15%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    
    
      cursor: pointer;
      color: black;
      transition: 0.4s;
    
      &:hover {
        transform: scale(1.02);
        color: #303b92;
      }
    
    }
    
    
    .content-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -24%;
      margin-bottom: 50px;
      height: 20%;
      margin-left: 10%;
    }
    
    
    
    
    .content-1 .cadastro-1-relatory {
      margin-top: 9% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 83%;
      max-height: 0;
      min-height: 45rem !important;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 10px #000;
     
    }
    
  .reservation-item{
    margin-top: 2%;
    color: #111;
    width: 85%;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 0px 5px;
    transition: 0.4s;
    margin-left: 7%;
    &:hover{
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      transform: scale(1.01);
     
    }
  }
    
  .reservation-list{
    margin-top: 5%;
  min-height: 70%; 
  height: 273px; 
  overflow-y: auto; 
  padding: 5px;
  width: 94%;
  background-color: white;
    
  }
    
  
   
    }
    


 
  @media  (max-width: 1600px) and (max-height: 900px) {
  
  

   
    .buttons-2 {
    
      margin-top: 6%;
      margin-left: 15%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    
    
      cursor: pointer;
      color: black;
      transition: 0.4s;
    
      &:hover {
        transform: scale(1.02);
        color: #303b92;
      }
    
    }
    
    
    .content-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -24%;
      margin-bottom: 50px;
      height: 20%;
      margin-left: 10%;
    }
    
    
    
    
    .content-1 .cadastro-1-relatory {
      margin-top: 2% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 83%;
      max-height: 0;
      min-height: 43rem !important;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 10px #000;
     
    }
    
  .reservation-item{
    margin-top: 2%;
    color: #111;
    width: 85%;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 0px 5px;
    transition: 0.4s;
    margin-left: 7%;
    &:hover{
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      transform: scale(1.01);
     
    }
  }
    
  .reservation-list{
    margin-top: 5%;
  min-height: 70%; 
  height: 273px; 
  overflow-y: auto; 
  padding: 5px;
  width: 94%;
  background-color: white;
    
  }
    
  
   
    }
    


   
  @media  (max-width: 1440px) and (max-height: 1080px) {
  
  

   
    .buttons-2 {
    
      margin-top: 6%;
      margin-left: 15%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    
    
      cursor: pointer;
      color: black;
      transition: 0.4s;
    
      &:hover {
        transform: scale(1.02);
        color: #303b92;
      }
    
    }
    
    
    .content-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -24%;
      margin-bottom: 50px;
      height: 20%;
      margin-left: 10%;
    }
    
    
    
    
    .content-1 .cadastro-1-relatory {
      margin-top: -18% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 83%;
      max-height: 0;
      min-height: 50rem;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 10px #000;
     
    }
    
  .reservation-item{
    margin-top: 2%;
    color: #111;
    width: 85%;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 0px 5px;
    transition: 0.4s;
    margin-left: 7%;
    &:hover{
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      transform: scale(1.01);
     
    }
  }
    
  .reservation-list{
    margin-top: 5%;
  min-height: 70%; 
  height: 273px; 
  overflow-y: auto; 
  padding: 5px;
  width: 94%;
  background-color: white;
    
  }
    
  
   
    }
    



 
  @media  (max-width: 1366px) and (max-height: 768px) {
  
  

   
    .buttons-2 {
    
      margin-top: 6%;
      margin-left: 15%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    
    
      cursor: pointer;
      color: black;
      transition: 0.4s;
    
      &:hover {
        transform: scale(1.02);
        color: #303b92;
      }
    
    }
    
    
    .content-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -24%;
      margin-bottom: 50px;
      height: 20%;
      margin-left: 10%;
    }
    
    
    
    
    .content-1 .cadastro-1-relatory {
      margin-top: 2% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 83%;
      max-height: 0;
      min-height: 35rem !important;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 10px #000;
     
    }
    
  .reservation-item{
    margin-top: 2%;
    color: #111;
    width: 85%;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 0px 5px;
    transition: 0.4s;
    margin-left: 7%;
    &:hover{
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      transform: scale(1.01);
     
    }
  }
    
  .reservation-list{
    margin-top: 5%;
  min-height: 70%; 
  height: 273px; 
  overflow-y: auto; 
  padding: 5px;
  width: 94%;
  background-color: white;
    
  }
    
  
   
    }
    

  
  
  @media  (max-width: 1360px) and (max-height: 768px) {
  
  

   
    .buttons-2 {
    
      margin-top: 6%;
      margin-left: 15%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    
    
      cursor: pointer;
      color: black;
      transition: 0.4s;
    
      &:hover {
        transform: scale(1.02);
        color: #303b92;
      }
    
    }
    
    
    .content-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -24%;
      margin-bottom: 50px;
      height: 20%;
      margin-left: 10%;
    }
    
    
    
    
    .content-1 .cadastro-1-relatory {
      margin-top: 2% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 83%;
      max-height: 0;
      min-height: 35rem !important;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 10px #000;
     
    }
    
  .reservation-item{
    margin-top: 2%;
    color: #111;
    width: 85%;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 0px 5px;
    transition: 0.4s;
    margin-left: 7%;
    &:hover{
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      transform: scale(1.01);
     
    }
  }
    
  .reservation-list{
    margin-top: 5%;
  min-height: 70%; 
  height: 273px; 
  overflow-y: auto; 
  padding: 5px;
  width: 94%;
  background-color: white;
    
  }
    
  
   
    }
    


  
  @media  (max-width: 1280px) and (max-height: 1024px) {
  
  

   
    .buttons-2 {
    
      margin-top: 6%;
      margin-left: 15%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    
    
      cursor: pointer;
      color: black;
      transition: 0.4s;
    
      &:hover {
        transform: scale(1.02);
        color: #303b92;
      }
    
    }
    
    
    .content-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -24%;
      margin-bottom: 50px;
      height: 20%;
      margin-left: 10%;
    }
    
    
    
    
    .content-1 .cadastro-1-relatory {
      margin-top: -25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 83%;
      max-height: 0;
      min-height: 50rem;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 10px #000;
     
    }
    
  .reservation-item{
    margin-top: 2%;
    color: #111;
    width: 85%;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 0px 5px;
    transition: 0.4s;
    margin-left: 7%;
    &:hover{
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      transform: scale(1.01);
     
    }
  }
    
  .reservation-list{
    margin-top: 5%;
  min-height: 70%; 
  height: 273px; 
  overflow-y: auto; 
  padding: 5px;
  width: 94%;
  background-color: white;
    
  }
    
  
   
    }

  
  @media  (max-width: 1280px) and (max-height: 768px) {
  
  

   
    .buttons-2 {
    
      margin-top: 6%;
      margin-left: 15%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    
    
      cursor: pointer;
      color: black;
      transition: 0.4s;
    
      &:hover {
        transform: scale(1.02);
        color: #303b92;
      }
    
    }
    
    
    .content-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -24%;
      margin-bottom: 50px;
      height: 20%;
      margin-left: 10%;
    }
    
    
    
    
    .content-1 .cadastro-1-relatory {
      margin-top: 2%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 83%;
      max-height: 0;
      min-height: 33rem;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 10px #000;
     
    }
    
  .reservation-item{
    margin-top: 2%;
    color: #111;
    width: 85%;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 0px 5px;
    transition: 0.4s;
    margin-left: 7%;
    &:hover{
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      transform: scale(1.01);
     
    }
  }
    
  .reservation-list{
    margin-top: 5%;
  min-height: 70%; 
  height: 273px; 
  overflow-y: auto; 
  padding: 5px;
  width: 94%;
  background-color: white;
    
  }
    
  
   
    }


   
  
@media  (max-width: 1280px) and (max-height: 720px) {
  
  

   
  .buttons-2 {
  
    margin-top: 6%;
    margin-left: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
  
    cursor: pointer;
    color: black;
    transition: 0.4s;
  
    &:hover {
      transform: scale(1.02);
      color: #303b92;
    }
  
  }
  
  
  .content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -24%;
    margin-bottom: 50px;
    height: 20%;
    margin-left: 10%;
  }
  
  
  
  
  .content-1 .cadastro-1-relatory {
    margin-top: 2% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 83%;
    max-height: 0;
    min-height: 33rem !important;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
   
  }
  
.reservation-item{
  margin-top: 2%;
  color: #111;
  width: 85%;
  margin: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 0px 5px;
  transition: 0.4s;
  margin-left: 7%;
  &:hover{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    transform: scale(1.01);
   
  }
}
  
.reservation-list{
  margin-top: 5%;
min-height: 70%; 
height: 273px; 
overflow-y: auto; 
padding: 5px;
width: 94%;
background-color: white;
  
}
  

 
  }
  